
<div class="panel">
    <div class="panel-heading">
        <h1>New Books</h1>
    </div>
    <div class="panel-body">
        <div class="jumbotron">
            <form (ngSubmit)="onFormSubmit()" method="post" [formGroup] = "bookCreateForm">
                <div class="row">
                    <div class="col-md-5">
                        <label for="title">Title: <span style="color:red">*</span></label><br/>
                        <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid':(f.title.touched && f.title.errors) || titleBackEndErrors}"/>
                        <div *ngIf="f.title.touched && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span *ngFor="let error of titleBackEndErrors">{{error}}</span>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label for="title">Copyright: <span style="color:red">*</span></label><br/>
                        <input type="number" class="form-control" formControlName="copyright" [ngClass]="{'is-invalid':(f.copyright.touched && f.copyright.errors) || copyrightBackEndErrors}"/>
                        <div *ngIf="f.copyright.touched && f.copyright.errors" class="invalid-feedback">
                            <div *ngIf="f.copyright.errors.required"><span class="error-msg">This field is required</span></div>
                        </div>
                        <div>
                            <span *ngFor="let error of copyrightBackEndErrors">{{error}}</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" style ="margin-top: 5px;" [disabled]="!bookCreateForm.valid || isSubmit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

