<app-book-add-form></app-book-add-form>
<app-book-update-form></app-book-update-form>
<p>book works!</p>


<h1>Books</h1>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <td>Title</td>
            <td>Copyright</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.copyright}}</td>
                <div class="row">
                    <button class="col-md-5 btn btn-success m-1" (click)="update(book)" data-toggle="tooltip" data-placement="bottom" title="Update book"><i class="material-icons">update</i> </button>
                    <button class="col-md-5 btn btn-success m-1" (click)="delete(book)" data-toggle="tooltip" data-placement="bottom" title="Delete book"><i class="material-icons">delete</i> </button>
                </div>
        </tr>
    </tbody>
</table>